Repository kaiko-ai/eva, pull requests merged in 2024-04, with the labels that each got.

#352 Disable Loggers that don't support saving to remote storage at runtime
  docs/reference/core/data/datasets.md
  docs/reference/core/loggers/loggers.md
  mkdocs.yml
  src/eva/core/loggers/__init__.py
  src/eva/core/loggers/dummy.py
  src/eva/core/trainers/trainer.py
Labels: core:trainers

#357 Add gitleaks to CI workflow
  .github/workflows/ci.yaml
  .gitleaks.toml
  .gitleaksignore
Labels: ci

#365 Add base class for WSIs & `openslide` implementation
  src/eva/vision/data/wsi/__init__.py
  src/eva/vision/data/wsi/backend.py
  src/eva/vision/data/wsi/base.py
  src/eva/vision/data/wsi/openslide.py
Labels: vision:wsi

#380 Reformat image segmentation datasets
  src/eva/vision/data/datasets/segmentation/base.py
  src/eva/vision/data/datasets/segmentation/total_segmentator.py
  src/eva/vision/utils/io/nifti.py
  tests/eva/vision/data/datasets/segmentation/test_total_segmentator.py
Labels: vision:data

#377 Add support for grid sampling to `WsiDataset`
  configs/vision/dino_vit/offline/panda.yaml
  pdm.lock
  pyproject.toml
  src/eva/core/callbacks/writers/embeddings.py
  src/eva/core/data/datasets/embeddings/classification/multi_embeddings.py
  src/eva/vision/data/datasets/classification/wsi.py
  src/eva/vision/data/datasets/wsi.py
  src/eva/vision/data/wsi/__init__.py
  src/eva/vision/data/wsi/backend.py
  src/eva/vision/data/wsi/backends/__init__.py
  src/eva/vision/data/wsi/backends/base.py
  src/eva/vision/data/wsi/backends/openslide.py
  src/eva/vision/data/wsi/base.py
  src/eva/vision/data/wsi/openslide.py
  src/eva/vision/data/wsi/patching/__init__.py
  src/eva/vision/data/wsi/patching/coordinates.py
  src/eva/vision/data/wsi/patching/samplers.py
Labels: vision:wsi

#390 Update `TotalSegmentator` output binary masks to a semantic mask
  src/eva/vision/data/datasets/segmentation/base.py
  src/eva/vision/data/datasets/segmentation/total_segmentator.py
  tests/eva/vision/data/datasets/segmentation/test_total_segmentator.py
Labels: vision:data

#392 Add `read_nifti_slice` to optionally cast image to stored input type
  src/eva/vision/utils/io/nifti.py
Labels: vision

#406 Update CI triggering events
  .github/workflows/ci.yaml
Labels: ci

#404 Add simple decoder networks for segmentation tasks
  .github/workflows/ci.yaml
  main.py
  src/eva/vision/data/datasets/segmentation/base.py
  src/eva/vision/data/datasets/segmentation/total_segmentator.py
  src/eva/vision/models/networks/decoders/__init__.py
  src/eva/vision/models/networks/decoders/decoder.py
  src/eva/vision/models/networks/decoders/segmentation/__init__.py
  src/eva/vision/models/networks/decoders/segmentation/conv.py
  src/eva/vision/models/networks/decoders/segmentation/linear.py
  src/eva/vision/utils/convert.py
  src/eva/vision/utils/io/nifti.py
  tests/eva/vision/data/datasets/segmentation/test_total_segmentator.py
  tests/eva/vision/models/networks/decoders/__init__.py
  tests/eva/vision/models/networks/decoders/segmentation/__init__.py
  tests/eva/vision/models/networks/decoders/segmentation/conv.py
  tests/eva/vision/models/networks/decoders/segmentation/linear.py
  tests/eva/vision/utils/test_convert.py
Labels: vision, aggregated-feature

#409 Move model freezing functionality to `configure_model`
  src/eva/core/models/modules/head.py
Labels: core:model

#403 Add `timm` encoder networks
  pdm.lock
  pyproject.toml
  src/eva/core/models/networks/__init__.py
  src/eva/core/models/networks/wrappers/__init__.py
  src/eva/vision/models/networks/__init__.py
  src/eva/vision/models/networks/encoders/__init__.py
  src/eva/vision/models/networks/encoders/encoder.py
  src/eva/vision/models/networks/encoders/from_timm.py
  src/eva/vision/models/networks/from_timm.py
  tests/eva/vision/models/networks/encoders/__init__.py
  tests/eva/vision/models/networks/encoders/test_from_timm.py
  tests/eva/vision/models/networks/test_from_timm.py
Labels: vision, aggregated-feature
