Repository kaiko-ai/eva, pull requests merged in 2024-08, with the labels that each got.

#605 Update .lock file to solve `exceptiongroup` dependency issue in CI
  docs/DEVELOPER_GUIDE.md
  pdm.lock
  pyproject.toml
Labels: ci

#599 Add `H-optimus-0` model to registry
  docs/user-guide/advanced/replicate_evaluations.md
  src/eva/vision/models/networks/backbones/pathology/__init__.py
  src/eva/vision/models/networks/backbones/pathology/bioptimus.py
  src/eva/vision/models/networks/backbones/pathology/lunit.py
  src/eva/vision/models/networks/backbones/pathology/mahmood.py
Labels: model

#609 Add `hibou` models to registry
  docs/user-guide/advanced/replicate_evaluations.md
  src/eva/core/models/transforms/extract_cls_features.py
  src/eva/core/models/transforms/extract_patch_features.py
  src/eva/core/models/wrappers/huggingface.py
  src/eva/vision/callbacks/loggers/batch/segmentation.py
  src/eva/vision/models/networks/backbones/_utils.py
  src/eva/vision/models/networks/backbones/pathology/__init__.py
  src/eva/vision/models/networks/backbones/pathology/histai.py
  src/eva/vision/models/networks/backbones/pathology/kaiko.py
  src/eva/vision/models/networks/backbones/pathology/lunit.py
  src/eva/vision/models/networks/backbones/pathology/mahmood.py
  src/eva/vision/models/networks/backbones/pathology/owkin.py
  src/eva/vision/models/networks/backbones/universal/timm.py
  src/eva/vision/models/networks/backbones/universal/vit.py
Labels: model

#613 Allow to call `timm` models with `timm/model_name` on `BackboneModelRegistry`
  configs/vision/pathology/offline/classification/bach.yaml
  configs/vision/pathology/offline/classification/camelyon16.yaml
  configs/vision/pathology/offline/classification/crc.yaml
  configs/vision/pathology/offline/classification/mhist.yaml
  configs/vision/pathology/offline/classification/panda.yaml
  configs/vision/pathology/offline/classification/patch_camelyon.yaml
  configs/vision/pathology/offline/segmentation/bcss.yaml
  configs/vision/pathology/offline/segmentation/consep.yaml
  configs/vision/pathology/offline/segmentation/monusac.yaml
  configs/vision/pathology/offline/segmentation/total_segmentator_2d.yaml
  configs/vision/pathology/online/classification/bach.yaml
  configs/vision/pathology/online/classification/crc.yaml
  configs/vision/pathology/online/classification/mhist.yaml
  configs/vision/pathology/online/classification/patch_camelyon.yaml
  configs/vision/pathology/online/segmentation/bcss.yaml
  configs/vision/pathology/online/segmentation/consep.yaml
  configs/vision/pathology/online/segmentation/monusac.yaml
  configs/vision/pathology/online/segmentation/total_segmentator_2d.yaml
  configs/vision/radiology/offline/segmentation/lits.yaml
  configs/vision/radiology/online/segmentation/lits.yaml
  docs/user-guide/advanced/custom_checkpoints.md
  docs/user-guide/advanced/model_registry.md
  docs/user-guide/advanced/model_wrappers.md
  docs/user-guide/advanced/replicate_evaluations.md
  docs/user-guide/tutorials/offline_vs_online.md
  src/eva/core/models/modules/head.py
  src/eva/core/utils/parser.py
  src/eva/vision/models/modules/semantic_segmentation.py
  src/eva/vision/models/networks/backbones/__init__.py
  src/eva/vision/models/networks/backbones/registry.py
  src/eva/vision/models/networks/backbones/timm/__init__.py
  src/eva/vision/models/networks/backbones/timm/backbones.py
  src/eva/vision/models/networks/backbones/universal/__init__.py
  src/eva/vision/models/networks/backbones/universal/vit.py
Labels: refactoring

#621 Set multiprocessing start method to `spawn` for `EmbeddingsDataset`
  src/eva/core/data/datasets/embeddings.py
Labels: bug

#623 Update segmentation visualisation default arguments to show one column per group
  src/eva/vision/callbacks/loggers/batch/segmentation.py
Labels: vision
