Repository kaiko-ai/eva, pull requests merged in 2025-04, with the labels that each got.

#785 Add `BTCV` dataset / support for 3D radiology datasets
  .python-version
  docs/reference/vision/data/datasets.md
  src/eva/core/data/datasets/base.py
  src/eva/core/utils/suppress_logs.py
  src/eva/vision/data/__init__.py
  src/eva/vision/data/datasets/__init__.py
  src/eva/vision/data/datasets/classification/bach.py
  src/eva/vision/data/datasets/classification/base.py
  src/eva/vision/data/datasets/classification/bracs.py
  src/eva/vision/data/datasets/classification/breakhis.py
  src/eva/vision/data/datasets/classification/camelyon16.py
  src/eva/vision/data/datasets/classification/crc.py
  src/eva/vision/data/datasets/classification/gleason_arvaniti.py
  src/eva/vision/data/datasets/classification/mhist.py
  src/eva/vision/data/datasets/classification/panda.py
  src/eva/vision/data/datasets/classification/patch_camelyon.py
  src/eva/vision/data/datasets/classification/unitopatho.py
  src/eva/vision/data/datasets/classification/wsi.py
  src/eva/vision/data/datasets/segmentation/__init__.py
  src/eva/vision/data/datasets/segmentation/_utils.py
  src/eva/vision/data/datasets/segmentation/base.py
  src/eva/vision/data/datasets/segmentation/bcss.py
  src/eva/vision/data/datasets/segmentation/btcv.py
  src/eva/vision/data/datasets/segmentation/consep.py
  src/eva/vision/data/datasets/segmentation/lits.py
  src/eva/vision/data/datasets/segmentation/lits_balanced.py
  src/eva/vision/data/datasets/segmentation/monusac.py
  src/eva/vision/data/datasets/segmentation/total_segmentator_2d.py
  src/eva/vision/data/datasets/vision.py
  src/eva/vision/data/datasets/wsi.py
  src/eva/vision/data/tv_tensors/__init__.py
  src/eva/vision/data/tv_tensors/volume.py
  src/eva/vision/utils/io/__init__.py
  src/eva/vision/utils/io/nifti.py
  tests/eva/vision/data/datasets/segmentation/test_total_segmentator.py
Labels: dataset

#795 Add `Midnight-12k` to model registry
  docs/user-guide/advanced/replicate_evaluations.md
  src/eva/vision/models/networks/backbones/pathology/__init__.py
  src/eva/vision/models/networks/backbones/pathology/kaiko.py
Labels: model

#787 Add `3D` data transforms
  configs/vision/pathology/offline/classification/bach.yaml
  configs/vision/radiology/offline/segmentation/lits.yaml
  configs/vision/radiology/offline/segmentation/lits_balanced.yaml
  configs/vision/radiology/offline/segmentation/total_segmentator_2d.yaml
  configs/vision/radiology/online/segmentation/lits.yaml
  configs/vision/radiology/online/segmentation/lits_balanced.yaml
  configs/vision/radiology/online/segmentation/total_segmentator_2d.yaml
  src/eva/vision/data/transforms/__init__.py
  src/eva/vision/data/transforms/common/__init__.py
  src/eva/vision/data/transforms/common/resize_and_clamp.py
  src/eva/vision/data/transforms/croppad/__init__.py
  src/eva/vision/data/transforms/croppad/crop_foreground.py
  src/eva/vision/data/transforms/croppad/rand_crop_by_pos_neg_label.py
  src/eva/vision/data/transforms/croppad/spatial_pad.py
  src/eva/vision/data/transforms/intensity/__init__.py
  src/eva/vision/data/transforms/intensity/rand_scale_intensity.py
  src/eva/vision/data/transforms/intensity/rand_shift_intensity.py
  src/eva/vision/data/transforms/intensity/scale_intensity_ranged.py
  src/eva/vision/data/transforms/normalization/__init__.py
  src/eva/vision/data/transforms/normalization/clamp.py
  src/eva/vision/data/transforms/normalization/functional/__init__.py
  src/eva/vision/data/transforms/normalization/functional/rescale_intensity.py
  src/eva/vision/data/transforms/normalization/rescale_intensity.py
  src/eva/vision/data/transforms/spatial/__init__.py
  src/eva/vision/data/transforms/spatial/flip.py
  src/eva/vision/data/transforms/spatial/rotate.py
  src/eva/vision/data/transforms/spatial/spacing.py
  src/eva/vision/data/transforms/utility/__init__.py
  src/eva/vision/data/transforms/utility/ensure_channel_first.py
  tests/eva/vision/data/transforms/common/test_resize_and_clamp.py
  tests/eva/vision/data/transforms/normalization/__init__.py
  tests/eva/vision/data/transforms/normalization/functional/__init__.py
  tests/eva/vision/data/transforms/normalization/functional/test_rescale_intensity.py
Labels: transforms

#798 Add `VoCo` to model registry
  pdm.lock
  pyproject.toml
  src/eva/core/models/wrappers/_utils.py
  src/eva/vision/models/networks/backbones/__init__.py
  src/eva/vision/models/networks/backbones/radiology/__init__.py
  src/eva/vision/models/networks/backbones/radiology/swin_unetr.py
  src/eva/vision/models/networks/backbones/radiology/voco.py
  src/eva/vision/models/networks/decoders/segmentation/__init__.py
  src/eva/vision/models/networks/decoders/segmentation/linear.py
  src/eva/vision/models/networks/decoders/segmentation/semantic/__init__.py
  src/eva/vision/models/networks/decoders/segmentation/semantic/swin_unetr.py
  tests/eva/vision/models/networks/backbones/radiology/test_swin_unetr.py
  tests/eva/vision/models/networks/decoders/segmentation/test_conv.py
  tests/eva/vision/models/networks/decoders/segmentation/test_linear.py
  tests/eva/vision/models/networks/decoders/segmentation/test_swin_unetr.py
Labels: radiology, model

#802 Solve LFS issue with total segmentator test assets
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0011/ct.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0011/segmentations/aorta_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0011/segmentations/brain_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0011/segmentations/colon_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0011/segmentations/semantic_labels/masks.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0461/ct.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0461/segmentations/aorta_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0461/segmentations/brain_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0461/segmentations/colon_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0461/segmentations/semantic_labels/masks.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0762/ct.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0762/segmentations/aorta_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0762/segmentations/brain_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0762/segmentations/colon_small.nii.gz
  tests/eva/assets/vision/datasets/total_segmentator/Totalsegmentator_dataset_v201/s0762/segmentations/semantic_labels/masks.nii.gz
Labels: bug

#770 Add `GPFM` and `H0-mini` to model registry
  src/eva/vision/models/networks/backbones/pathology/__init__.py
  src/eva/vision/models/networks/backbones/pathology/bioptimus.py
  src/eva/vision/models/networks/backbones/pathology/hkust.py
Labels: model
